@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Whole website theme */
body {
  background-color: #FFFFF2;
  padding:5%;
}
/* Default paragraph settings */
p {
  line-height: 1.5;
  
}
/* Varibles for website */
:root {
  --topic-font:"Playfair Display";
  --background-color: rgb(240, 245, 218);
  --hover-color: #ffff;

}
.active-page {
  text-decoration: underline;
  font-weight: bold;
}

/* nav bar logo styles */
.logo img {
  width: 15%;
  cursor: pointer;
  font-size: 35px;
  transition: all 0.5s;
}
.logo img:hover {
  transform: scale(1.1);
}
li,
a,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
/* navigation bar styles */
header {
  left: 0;
  top: 0;
  height: 50px;
 width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding:3% 5%;
  backdrop-filter: blur(20px);
  z-index: 9999;
}

li {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s;
}
.nav-links li a:hover {
  text-decoration: underline;
}
/* News letter register button styles */
.news-btn {
  background-color: #fffff200;
  padding: 9px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: solid 1px black;
}
.news-btn:hover {
  transform: scale(1.1);
}
.news-btn:active {
  background-color: aqua;
}
/*----------------------- MAIN PAGE  -----------------------*/

.main-container {
  padding-bottom: 50px;
}

[title~="bold-text-name"] {
line-height: 1.4;
  margin-left: 10%;
  font-size: 80px;
  font-family: "Playfair Display";
}
.main-para {
  margin:5% 10% 5% 35% ;
  animation: slideInRight 0.8s ease-in-out ;
}

.social-links {
  animation: slideInBottom 0.8s ease-in-out ;
 margin-top: 10%;
  display: flex;
 
}
.link-img {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.link-img a img {
  height: 40px;
  padding-top: 5px;
}

.link-img:hover {
  background-color: rgb(171, 235, 255);
}

.sec2{
  margin-top: 6%;
}

/* Footer styles */
footer {
  padding-left: 10%;
 padding: 2% 5%;
  background-color: #ca6f6f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------MAIN PAGE END------------------- */

/* --------------------------Projects Page---------------------- */

section > h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  animation: slideInLeft 0.8s ease-in-out ;
  font-family: var(--topic-font);
  font-size: 50px;
}

.project-content {
  top: 35%;
  left: 10%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
}
.card {
  text-align: center;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  border-radius: 20px;
  margin: 0% 10%;
  padding: 20px;
  height: auto;
  transition: all 0.5s;
  
 
}
.card:hover {

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

[title~="prj-img"]{
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  height: 250px;
  border-radius: 25px;

  background-position: center;
}
/* ------------------------Project Page END------------------ */

/* ------------------------ ABOUT PAGE------------------ */

.about-container {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 60%;
  background-color: #353535;
  overflow: hidden;
}
.about-container > img {
  width: 30%;
  border-radius: 50%;
  float: right;
}

/* ------------------------About Page END------------------ */

/* ------------------------Blog Page----------------------- */

.blog-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 column-gap: 5%;
 row-gap: 5%;
 


}
.blog-post{
  
  cursor: pointer;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 1s all;

}
.blog-post:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.blog-post img{
  opacity: 0.8;
  width: 100%;
  height: 300px;
}
.blog-post img:hover{
  opacity: 1;
  
}
.blog-text{
  padding: 10px;
  
}
.blog-title{
  font-family: "Poppins";
  font-weight: 200;
  font-size: 12px;
}
.blog-head{
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
}
.blog-content{
 padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis; 

}

/* -----------------Media Queries --------------------------*/
@media (max-width: 600px) {
  /* Main Page */
  header {
    position: absolute;
    padding: 0;
    height: 20%;
    font-size: 20px;
    display: block;
    text-align: center;
  }
  .main-content {
    top: 60%;
  }
  li {
    display: inline-block;
    padding: 5px;
    width: 50%;
    font-size: 20px;
  }
  .news-btn {
    padding: 9px 10px;
  }
  .main-content {
    text-align: center;
  }
  section > h1 {
    top: 30%;
    font-size: 20px;
  }
  /* About page */

  .about-container {
    top: 40%;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 10px;
  }
}

/* ANIMATION PANE */
@keyframes slideInLeft {
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translate(0);
  }
}
@keyframes slideInRight {
  from{
    transform: translateX(200px);
  }
  to{
    transform: translate(0);
  }
}
@keyframes slideInBottom {
  from{
    transform: translateY(100px);
  }
  to{
    transform: translateY(0);
  }
  
}

