@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Whole website theme */
body {
  background-color: #FFFFF2;
  color: black;
}
/* Default paragraph settings */
p {
  line-height: 1.5;
  
}
/* Varibles for website */
:root {
  --topic-font:"Playfair Display";
  --background-color: rgb(240, 245, 218);
  --hover-color: #ffff;
}
.active-page {
  text-decoration: underline;
  font-weight: bold;
}

/* nav bar logo styles */
.logo img {
  width: 15%;
  cursor: pointer;
  font-size: 35px;
  transition: all 0.5s;
}
.logo img:hover {
  transform: scale(1.1);
}
li,
a,
button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
/* navigation bar styles */
header {
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 35px 5%;
  backdrop-filter: blur(20px);
  z-index: 9999;
}

li {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s;
}
.nav-links li a:hover {
  text-decoration: underline;
}
/* News letter register button styles */
.news-btn {
  background-color: #fffff200;
  padding: 9px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: solid 1px black;
}
.news-btn:hover {
  transform: scale(1.1);
}
.news-btn:active {
  background-color: aqua;
}

/*----------------------- MAIN PAGE  -----------------------*/

.main-container {
  margin-top: 5%;
  padding-bottom: 50px;
  
}

[title~="bold-text-name"] {
line-height: 1.4;
  margin-left: 10%;
  font-size: 80px;
  font-family: "Playfair Display";
}

.main-content span , section>h1{
  animation: slideInLeft 0.8s ease-in-out ;
}
.main-para {
  margin:5% 10% 5% 35% ;
  animation: slideInRight 0.8s ease-in-out ;
}

.social-links {
  animation: slideInBottom 0.8s ease-in-out ;
  position: absolute;
 top: 90%;
 left: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;

}
.link-img {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.link-img a img {
  height: 40px;
  padding-top: 5px;
}
.link-img:hover {
  background-color: rgb(171, 235, 255);
}

.sec2{
  position: absolute;
  top: 110%;
  left: 5%;
}

/* Footer styles */
footer {
  display: grid;
 position: absolute;
 top: 120%;
  padding-left: 10%;
  width: 100%;
 padding: 2% 5%;
  background-color: #ca6f6f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------MAIN PAGE END------------------- */

/* --------------------------Projects Page---------------------- */

section > h1 {
  animation: slideInLeft 0.8s ease-in-out ;
  top: 15%;
  left: 5%;
  position: absolute;
  font-family: var(--topic-font);
  font-size: 50px;
}

.project-content {
  top: 35%;
  left: 10%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
}
.card {
  text-align: center;
  box-shadow: 10px 10px 10px rgb(56, 56, 56);
  border-radius: 20px;
  margin: 5% 10%;
  padding: 20px;
  height: auto;
  transition: all 0.5s;
  
 
}
.card:hover {

  box-shadow: 10px 10px 20px rgb(56, 56, 56);
}

[title~="prj-img"]{
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  height: 250px;
  border-radius: 25px;

  background-position: center;
}
/* ------------------------Project Page END------------------ */

/* ------------------------ ABOUT PAGE------------------ */

.about-container {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 60%;
  background-color: #353535;
  overflow: hidden;
}
.about-container > img {
  width: 30%;
  border-radius: 50%;
  float: right;
}

/* ------------------------About Page END------------------ */

/* -----------------Media Queries --------------------------*/
@media (max-width: 600px) {
  /* Main Page */
  header {
    position: absolute;
    padding: 0;
    height: 20%;
    font-size: 20px;
    display: block;
    text-align: center;
  }
  .main-content {
    top: 60%;
  }
  li {
    display: inline-block;
    padding: 5px;
    width: 50%;
    font-size: 20px;
  }
  .news-btn {
    padding: 9px 10px;
  }
  .main-content {
    text-align: center;
  }
  section > h1 {
    top: 30%;
    font-size: 20px;
  }
  /* About page */

  .about-container {
    top: 40%;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 10px;
  }
}

/* ANIMATION PANE */
@keyframes slideInLeft {
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translate(0);
  }
}
@keyframes slideInRight {
  from{
    transform: translateX(200px);
  }
  to{
    transform: translate(0);
  }
}
@keyframes slideInBottom {
  from{
    transform: translateY(100px);
  }
  to{
    transform: translateY(0);
  }
  
}

